@import'_normalize.scss';

@import'_perfect-scrollbar.min.scss';
@import'_animation.scss';
$primary_color : #0EC275;
$bubble_bot : #F0F0F0;
$font_family : "helvetica neue";
$top_bar_color : linear-gradient(rgba(249, 249, 249, 1), rgba(249, 249, 249, 0.88));
$input_bar_color : linear-gradient(rgba(255, 255, 255, 0.95), #fff);
$top_bar_button_red : #FF6059;
$top_bar_button_yellow : rgba(255, 192, 47, 0.27);
$top_bar_button_green : rgba(40, 202, 66, 0.27);

*{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

body{
  font-family: $font_family;
  font-size: 16px;
  overflow: hidden !important;
}


.app_bar{
  background: linear-gradient(rgba(249, 249, 249, 1), rgba(249, 249, 249, 0.88));
  z-index: 999;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  -webkit-app-region: drag;
  .button{
    -webkit-app-region: no-drag;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 9px;
    transition: all 0.3s;
  }
  .button_red{
    background: $top_bar_button_red;
    margin-left: 15px;
    &:hover{
      background: darken($top_bar_button_red, 20);
    }
  }
  .button_yellow{
    background: $top_bar_button_yellow;
  }
  .button_green{
    background: $top_bar_button_green;
  }
}

h1{
  color:$primary_color;
}

.app_scroll{
  position: relative;
  height: 100%;
}

.ps-scrollbar-y-rail{
  display: none !important;
}

.app_container{
  margin: 60px 15px 60px;
}

.bubble{
  padding: 8px 15px;
  border-radius: 14px;
  max-width: 50%;
  display: inline-block;
  word-wrap: break-word;
}


.bubble_bot{
  display: flex;
  margin-top: 10px;
  .bubble_bot_avatar{
    background: url('img/bubble_bot_avatar.svg');
    height: 32px;
    width: 32px;
    margin-right: 8px;
  }
  .bubble_bot_message{
    border-bottom-left-radius: 8px;
    background: $bubble_bot;
  }
  .bubble_bot_button{
    margin-left: 40px;
    border-bottom-left-radius: 8px;
    border: 1px solid $primary_color;
    color: $primary_color;
    cursor: pointer;
  }
  .bubble_after{
    margin-left: 40px;
  }
  .bubble_bot_dl{
    margin-left: 40px;
    display: flex;
    .bubble_bot_dl_icon_dl{
      background: url('img/icon_bot_dl.svg');
      height: 42px;
      width: 42px;
      margin-right: 15px;
    }
    .bubble_bot_dl_icon_dl_done{
      background: url('img/icon_bot_dl_done.svg');
      height: 42px;
      width: 42px;
      margin-right: 15px;
    }
    .bubble_bot_dl_bar_back{
      background: rgba($primary_color, 0.2);
      width: 150px;
      height: 4px;
      border-radius: 20px;
      margin:8px 0;
    }
    .bubble_bot_dl_bar{
      background: $primary_color;
      width: 0px;
      height: 4px;
      border-radius: 20px;
      margin:8px 0;
      position: absolute;
      transition: all 0.4s;
    }
    .bubble_bot_dl_display_text{
      color: #8E8E8E;
      font-size: 14px;
      span{
        float: right;
      }
    }
  }
}

.bubble_user{
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
  .bubble_user_message{
    border-top-right-radius: 8px;
    background: $primary_color;
    color: #fff;
    .bubble_user_icon{
      background: url('img/icon_file.svg');
      height: 50px;
      width: 50px;
      margin: 10px 20px;
    }
  }
}

.app_input{
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background: $input_bar_color;
  .app_input_icon_tape{
    background: url('img/icon_tape.svg');
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-left: 10px;
    position: absolute;
  }
  input{
    height: 50px;
    width: 100%;
    border: 0;
    margin-left: 50px;
    background: 0;
  }
}
