html
  head
    title!= title
    link(rel="stylesheet", href="/static/style.css")
    script(src="/static/jquery-3.1.1.min.js")
    script(src="/static/perfect-scrollbar.jquery.min.js")
    script(src="/static/app.js")
  body
    div.app
      div.app_bar
        div.button.button_red
        div.button.button_yellow
        div.button.button_green
      div.app_scroll
        div.app_container
          div.bubble_bot
            div.bubble_bot_avatar
            div.bubble.bubble_bot_message Hey. Enter your magnet to start your torrent download. =)
          div.bubble_bot
            div.bubble.bubble_bot_button Or add torrent file
          div.bubble_user
            div.bubble.bubble_user_message magnet:?xt=urn:btih:ef330b39f4801d25b4245212e75a38634bfc856e
          div.bubble_bot
            div.bubble_bot_avatar
            div.bubble.bubble_bot_message Thank’s. I work on it.
          div.bubble_bot
            div.bubble.bubble_bot_message.bubble_bot_dl
              div.bubble_bot_dl_icon_dl
              div.bubble_bot_dl_display
                div.bubble_bot_dl_bar
                div.bubble_bot_dl_bar_back
                div.bubble_bot_dl_display_text Torrent File
                  span 00:33
          div.bubble_bot
            div.bubble.bubble_bot_message.bubble_bot_dl
              div.bubble_bot_dl_icon_dl_done
              div.bubble_bot_dl_display
                div.bubble_bot_dl_bar
                div.bubble_bot_dl_bar_back
                div.bubble_bot_dl_display_text Torrent File
                  span
          div.bubble_bot
            div.bubble.bubble_bot_message.bubble_after Ok, it’s done. I put your file is the Desktop.
          div.bubble_bot
            div.bubble.bubble_bot_message.bubble_after If you have another torrent, enter your magnet to start your torrent download again. =)
          div.bubble_bot
            div.bubble.bubble_bot_button Or add torrent file
      div.app_input
        div.app_input_icon_tape
        input(type="text", placeholder="Tape your magnet")
