html
  head
    title!= title
    link(rel="stylesheet", href="/static/style.css")
    script(src="/static/jquery-3.1.1.min.js")
    script(src="/static/perfect-scrollbar.jquery.min.js")
    script(src="/static/socket.io-1.4.5.js")
    script(src="/static/app.js")
  body
    div.app
      div.app_bar
        div.button.button_red
        div.button.button_yellow
        div.button.button_green
      div.app_scroll
        div.app_container
      div.app_input
        div.app_input_icon_tape
        input(type="text", placeholder="Paste your magnet")
