html
  head
    title!= title
    link(rel="stylesheet", href="/static/style.css")
  body
    div.app
      div.app_bar
        div.button.button_red
        div.button.button_yellow
        div.button.button_green
      div.app_container
        div.bubble_bot
          div.bubble_bot_avatar
          div.bubble.bubble_bot_message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.bubble_bot
          div.bubble.bubble_bot_button lorem ipsum
        div.bubble_user
          div.bubble.bubble_user_message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.bubble_bot
          div.bubble_bot_avatar
          div.bubble.bubble_bot_message Lorem ipsum dolor
        div.bubble_bot
          div.bubble.bubble_bot_message.bubble_bot_dl
            div.bubble_bot_dl_icon_dl
            div.bubble_bot_dl_display
              div.bubble_bot_dl_bar
              div.bubble_bot_dl_display_text Torrent File
        div.bubble_bot
          div.bubble.bubble_bot_message.bubble_after Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.bubble_bot
          div.bubble.bubble_bot_button lorem ipsum
      div.app_input
        div.app_input_icon_tape
        input(type="text", placeholder="Tape your magnet")
